*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#navbar{
 background-color:rgb(190,49,68);
display:flex;
justify-content:space-between;
color:white;
padding:2rem 3rem;
}
@media-query{

}
.navlinks{
    color:white;
    display:flex;
    gap:4rem;
    font-size:18px;
position:relative;
right:25px;

}
.navlinks a{
    color:white;
    text-decoration: none;
    font-family:cursive;
}
.navlinks a:hover{
    cursor:pointer;
}
body{
    background-color: black;

}
#welcome-section{
    color:white;
display:flex;
justify-content: center;
padding-top:5rem;
font-family:cursive;

}
p{
    color:rgb(190,49,68);
display:flex;
justify-content: center;
padding-top:0rem; 
font-size:20px;
font-family: cursive;
}
.colored-box{
    background-color: blueviolet;
    height:375px;
    
    border:1px solid blueviolet;
        display:flex;
        justify-content: center;


}

.image{
    width:508px;
    height:350px;
}
.p1head {
    color:white;
    text-decoration: none;
text-align:center;

}